body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h1 {
    color: black;
}



.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover .card-body {
    transform: scale(1.05);
}

.card img {
    height: 150px;
    object-fit: cover;
}

.row {
    row-gap: 30px;
}

.col-md-4 {
    padding: 15px;
}

.form-label {
    font-weight: bold;
}
